* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #424242;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.download-btn {
    background-color: #757575;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #616161;
}
